body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.NootApp {

	padding: 10%;
	text-align: center;
	background-color: #F8BBD0;

}

.NootForm {
	padding: 10%;
	background-color: #D81B60;
	border-radius: 10px;
}

.NootForm input {
	border-radius: 3px;
	background-color: #FCE4EC;
	box-shadow: none;
	border: none;
	padding: 2%;
	margin: 2%;
}

.NootForm input[type=submit] {
	background-color: #880E4F;
	color: white;
	font-family: Helvetica;
}

.FilterButton {
	border-radius: 5px;
	padding: 2%;
	margin: 2%;
	background-color: #AD1457;
	color: white;
	width: 8vw;
	height: auto;
	font-size: 16px;
	font-family: Helvetica;
	border: none;
}

.Noot {
	background-color: #F48FB1;
	border-radius: 5px;
	padding: 2%;
	margin: 5%;
}

.remove {
	/*margin-left: 5%;*/
	float: right;
	border-radius: 5px;
	background-color: #880E4F;
	color: white;
	border: none;
	box-shadow: none;
}

.toggle {
	width: 18px;
	height: 18px;
	float: left;

}

